# Web3Forms API Key (Free, get one instantly at https://web3forms.com by entering pramod.ravisanka.dev@gmail.com)
WEB3FORMS_ACCESS_KEY=a894d093-1946-4f8f-9998-9210fb5ff2eb

# Alternative: Formspree Form ID
# FORMSPREE_FORM_ID=
